<div class="portfolio-title">
    <h3>{{ 'title_comments'|trans({}, 'SonataNewsBundle') }}</h3>
</div>
<div class="portfolio portfolio-page container">
    <div class="row">
        <ul>
            {% for comment in pager.results %}
                <div class="container presentation">
                    <h2>
                        <a href="{{ comment.url }}" target="new" rel="nofollow">{{ comment.name }}</a>
                    </h2>
                    <h5><i class="icon-calendar"></i> {{ comment.createdAt | format_date }}</h5>
                    <p>
                        {{ comment.message }}
                    </p>
                </div>

            {% else %}
                <div class="container presentation">
                    <p>{{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}</p>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>