<div id="content">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="span12"><i class="icon-file page-title-icon"></i>

                    <h2>Actualités /</h2>

                    <p>Titre de l'actualité</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container news">
        <div class="row">

            <div class="clear"></div>
            <div></div>
            <article class="box-news">
                <header>
                    <div class="post-info">
                        <h5>
                            <i class="icon-calendar"></i>
                            {{ post.publicationDateStart | format_date }}
                        </h5>
                    </div>

                    <h3 class="sonata-blog-post-title">
                        {{ post.title }}

                    </h3>
                    <div class="span5 image-detail">
                        {{ post.image}}
                    </div>
                    <div class="sonata-blog-post-information">
                        <div class="sonata-blog-post-tag-container">
                            <div class="sonata-blog-post-tag-title">
                                {% if post.tags|length > 1 %}
                                    <i class="icon-tags"></i>
                                {% else %}
                                    <i class="icon-tag"></i>
                                {% endif %}
                                {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}
                            </div>
                            <div class="sonata-blog-post-tags">
                                {% for tag in post.tags %}
                                    <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </header>

                <div class="sonata-blog-post-content">
                    <p> {{ post.content|raw }}</p>
                </div>
            </article>
        </div>
    </div>
</div>
