<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12"><i class="icon-camera page-title-icon"></i>

                <h2>Speaker /</h2>

                <p>{{ entity.firstName }} {{ entity.lastName }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container news">
    <div class="row">
        <div class="span12">
            <article class="box-news">
                <header>
                    <h3>{{ entity.firstName }} {{ entity.lastName }}</h3>

                    <p>{{ entity.function }}</p>

                    <p>{{ entity.company }}</p>

                    <p>{{ entity.description }}</p>

                    <div class="span5 image-detail">
                        {% media entity.logo, 'show' with {'alt': entity.firstName,'title': entity.firstName } %}
                    </div>
                    <div class="news-content">
                        <h3>{{ entity.topic }}</h3>

                        <p>{{ entity.topicDescription }}</p>
                    </div>
                </header>
            </article>
        </div>
    </div>
</div>