<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12"><i class="icon-camera page-title-icon"></i>

                <h2>Speaker /</h2>

                <p> {{ entity.lastName }} {{ entity.firstName }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container news">
    <div class="row">
        <div class="span12">
            <article class="box-news">
                <header>
                    <h3> {{ entity.lastName }} {{ entity.firstName }}</h3>

                    <div class="span5 image-detail">
                        {% media entity.logo, 'show' with {'alt': entity.firstName,'title': entity.firstName } %}
                    </div>

                    <div class="news-content">

                        <h3>Fonction</h3>

                        <p>{{ entity.function }}</p>

                        <h3>Société</h3>

                        <p>{{ entity.company }}</p>

                        <h3>Desciption</h3>

                        <p>{{ entity.description }}</p>

                        <h3>Présentation</h3>
                        <h5>{{ entity.topic }}</h5>

                        <p>{{ entity.topicDescription }}</p>
                    </div>
                </header>
            </article>
        </div>
    </div>
</div>