<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>
<div class="row-1">
    <div class="container">
        <div class="row">
            <ul class="thumbnails thumbnails-1">
                <li class="span3">
                    <div class="thumbnail thumbnail-1">
                        <h3>Fashion</h3>

                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img1.jpg') }}"
                                           alt=""></div>
                        <section><strong>At vero eos et accusamus et iusto </strong>

                            <p>Odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                            <a href="#" class="btn btn-1">Read More</a></section>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail thumbnail-1">
                        <h3>Nature</h3>

                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img2.jpg') }}"
                                           alt=""></div>
                        <section><strong>Deleniti atque corrupti quos</strong>

                            <p>Dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                            <a href="#" class="btn btn-1">Read More</a></section>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail thumbnail-1">
                        <h3>Love story</h3>

                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img3.jpg') }}"
                                           alt=""></div>
                        <section><strong>Similique sunt in culpa qui officia </strong>

                            <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                            <a href="#" class="btn btn-1">Read More</a></section>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail thumbnail-1">
                        <h3 class="title-1 extra">Fine art</h3>

                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img4.jpg') }}"
                                           alt=""></div>
                        <section><strong>Similique sunt in culpa qui officia</strong>

                            <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                            <a href="#" class="btn btn-1">Read More</a></section>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <article class="span6">
            <h3>Shortly about me</h3>

            <div class="wrapper">
                <figure class="img-indent">
                    <div class=""><img style="visibility: visible; opacity: 1;"
                                       src="{{ asset('bundles/stcsite/img/page1-img5.jpg') }}"
                                       alt=""></div>
                </figure>
                <div class="inner-1 overflow extra">
                    <div class="txt-1">Sed ut perspictis unde omnis natus error volupatem accusantium doloue
                        laudantium, totam rem.
                    </div>
                    Aperiam, eaque ipsa quae ab illo veritatis et beatae vitae dicta sunt explicabo nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                    <div class="border-horiz"></div>
                    <div class="overflow">
                        <ul class="list list-pad">
                            <li><a href="#">Campaigns</a></li>
                            <li><a href="#">Portraits</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Fine Art</a></li>
                        </ul>
                        <ul class="list">
                            <li><a href="#">Advertising</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Love story</a></li>
                            <li><a href="#">Landscapes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <article class="span6">
            <h3>Latest photoshoots</h3>
            <ul class="list-photo">
                <li><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img6.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img7.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img8.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li class="last"><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img9.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img10.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img11.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img12.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li class="last"><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img13.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img14.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img15.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img16.jpg') }} "
                                           alt=""></div>
                    </a></li>
                <li class="last"><a href="img/image-blank.png" class="magnifier">
                        <div class=""><img style="visibility: visible; opacity: 1;"
                                           src="{{ asset('bundles/stcsite/img/page1-img17.jpg') }} "
                                           alt=""></div>
                    </a></li>
            </ul>
        </article>
    </div>
</div>