<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-tasks page-title-icon"></i>

                <h2>Symfony TN /</h2>

                <p>Devenez sponsor du SymfonyTN 2015 !</p>
            </div>
        </div>
    </div>
</div>
<div class="services-full-width container">
    <div class="row">
        <div class="services-full-width-text span12">
            <h4>A propos Symfony TN</h4>

            <p>Le  <a href="{{ asset('bundles/stcsite/file/SYMFONYTN2015.pdf') }}">SYMFONYTN 2015</a></span>
                est la seul conférence autour de Symfony dans un pays arabe et en Afrique.
            </p>

            <p>
                Forte de son succès lors de la précédente session en 2013 (plus de 350 participants y ont assisté), la conférence
                SYMFONYTN aura lieu cette année le 17 avril à la cité des sciences de tunis.
                C’est une occasion d’entrer en contact avec des développeurs web, des administrateurs système et des
                managers à forte influence qui travaillent avec les technologies Open‐Source en Tunisie et en Afrique .

            </p>
            <p class="download">

                <a target="_blank" href="{{ asset('bundles/stcsite/file/SYMFONYTN2015-Sponsoring-Grille.pdf') }}">
                    Pourquoi nous sponsoriser ?
                </a>
            </p>
            <ul class="sponsors-list">
                <li class="level">
                    <h3>Platinum sponsors</h3>
                    <ul>
                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a target="_blank" href="http://www.ayaline.com/">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/ayaline.png') }}" class="img-responsive"></a>
                                </div>
                                <div class="span8">
                                    <h4><a target="_blank" href="http://www.ayaline.com/">aYaline</a></h4>

                                    <p>
                                        aYaline est une agence digitale focalisée sur l'innovation technologique et
                                        spécialiste de l'open source. Entreprise à taille humaine à forte densité
                                        technologique, aYaline a atteint une très bonne maturité dans l'écosystème PHP,
                                        Symfony en particulier. aYaline fournit un éventail de services dédié au
                                        développement d'applications web de grande envergure. Tous les travaux des
                                        équipes d'aYaline reposent sur l'open source et sont réalisés selon les
                                        meilleures pratiques de conduite de projets (CMMI et Agile).
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a href="http://www.talan.fr/">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/petit_tunisie-2.png') }}" class="img-responsive"></a>
                                </div>
                                <div class="span8">
                                    <h4><a href="http://www.talan.fr/">Talan</a></h4>

                                    <p>
                                        Expert dans l’accompagnement de la transformation agile
                                        <br>
                                        Créé depuis plus de 10 ans, le groupe Talan réalise un chiffre d’affaires de
                                        près de 100 millions d’euros pour 1 000 collaborateurs à fin 2014.
                                        <br>
                                        Acteur français de référence dans l’accompagnement de la transformation agile de
                                        ses clients, le groupe est basé à Paris et dispose de filiales à Londres,
                                        Luxembourg, New York, Hong Kong, Montréal et Tunis.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a target="_blank" href="http://www.oxia-group.com/">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/oxia.png') }}" class="img-responsive"></a>
                                </div>
                                <div class="span8">
                                    <h4><a target="_blank" href="http://www.oxia-group.com/">Oxia</a></h4>

                                    <p>
                                        Oxia est une société internationale de conseil et d’intégration opérant pour les
                                        marchés financiers, la télécommunication et l’industrie. Nous proposons un
                                        savoir faire management consulting, des expertises logicielles Murex, Cassiopae,
                                        Microsoft et une capacité de delivery offshore depuis Tunis (développement
                                        informatique, TRA, TMA, Infogérance)
                                    </p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>

                <li class="level">
                    <h3>Gold sponsors</h3>
                    <ul>
                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a target="_blank" href="https://github.com/">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/GitHub_Logo.png') }}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="span8">
                                    <h4><a target="_blank" href="https://github.com/">Github</a></h4>

                                    <p>GitHub (exploité sous le nom de GitHub, Inc.) est un service web d'hébergement et
                                        de gestion de développement de logiciels, utilisant le logiciel de gestion de
                                        versions Git. Ce site est développé en Ruby on Rails et Erlang par Chris
                                        Wanstrath, PJ Hyett et Tom Preston-Werner. GitHub propose des comptes
                                        professionnels payants, ainsi que des comptes gratuits pour les projets de
                                        logiciels libres.</p>
                                </div>
                            </div>
                        </li>
                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a target="_blank" href="https://blackfire.io/">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/blackfire.png') }}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="span8">
                                    <h4><a target="_blank" href="https://blackfire.io/">Blackfire</a></h4>

                                    <p>Blackfire est une solution SaaS innovante, éditée par SensioLabs, permettant de
                                        profiler tous types d'applications PHP, aussi bien en développement qu’en
                                        production.
                                        La solution fournit des données fiables et détaillées concernant les ressources
                                        consommées. Blackfire permet ainsi aux développeurs et responsables IT/Ops
                                        d’identifier et comprendre facilement les goulots d’étranglement, de trouver
                                        comment les résoudre rapidement, et d’améliorer la performance de leurs
                                        applications.</p>
                                </div>
                            </div>
                        </li>
                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a target="_blank" href="https://sensiolabs.com/">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/sensiolabs.png') }}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="span8">
                                    <h4><a target="_blank" href="https://sensiolabs.com/">SensioLabs</a></h4>

                                    <p>SensioLabs, an Open Source software and SaaS editor, is known for constantly
                                        pushing PHP language limits worldwide, especially following the creation of
                                        Symfony, the PHP framework for businesses and Twig, the templating engine. </p>
                                </div>
                            </div>
                        </li>
                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a target="_blank" href="http://www.ekino.com/">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/ekino.png') }}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="span8">
                                    <h4><a target="_blank" href="http://www.ekino.com/">Ekino</a></h4>

                                    <p>ekino est la filiale technique du groupe FullSIX. Grâce à ses 250 collaborateurs
                                        en France, ekino conçoit et réalise des solutions innovantes basées sur les
                                        technologies : Java, .NET, PHP, HTML5, JavaScript, CSS, Flash/Flex, Objective
                                        C </p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>

                <li class="level">
                    <h3>Silver sponsors</h3>
                    <ul>
                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a href="#">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/astrolab-logo.png') }}"
                                             class="img-responsive"></a>
                                </div>
                                <div class="span8">
                                    <h4><a href="#">astrolab</a></h4>

                                    <p>Astrolab une société tunisienne spécialisée dans le coaching et l'accompagnement
                                        technique des start-up dans le domaine de l'IT en Tunisie et à l'étranger.
                                        Dotée d'un département de recherche & développement, on s'engage à suivre et
                                        metriser les dérniéres technologies demandées sur le marché international.
                                        #Mobile_apps #web_apps #UX #UI #Games</p>

                                </div>
                            </div>
                        </li>
                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a href="http://www.agence-inspire.com/">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/logo_Inspire1.jpg') }}"
                                             class="img-responsive"></a>
                                </div>
                                <div class="span8">
                                    <h4><a href="http://www.agence-inspire.com/">Inspire</a></h4>

                                    <p>Inspire une agence spécialisée dans la conception des sites web à forte valeur ajoutée technologique, Inspire se
                                        positionne en agence web dont les mots d’ordre sont : innovation, qualité et prix compétitifs.
                                        Ses applications permettent de gagner en efficacité commerciale et en productivité, en simplifiant et
                                        accélérant les échanges, en valorisant l'entreprise et en faisant progresser son image.
                                        Inspire est une agence reconnus dans la conception, la réalisation, la gestion et
                                        l’accompagnement des projets web et met son savoir-faire à la disposition pour
                                        garantir les meilleurs offres qualité/prix, marquées par la créativité et maîtrise du développement, à
                                        des délais imbattables.
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>

                <li class="level">
                    <h3>Bronze sponsors</h3>
                    <ul>
                        <li class="sponsor">
                            <div class="row">
                                <div class="span4">
                                    <a href="#">
                                        <img src="{{ asset('bundles/stcsite/img/sponsor/logo-digidust.png') }}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="span8">
                                    <h4>
                                        <a href="#">Digidust</a>
                                    </h4>

                                    <p>Digidust est une agence digitale de développement web, mobile et réseaux
                                        sociaux.</p>

                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
