<div id="content">
    <div class="container">
        <div class="row">
            <article class="span12">
                <h3>Events</h3>
            </article>
            <div class="clear"></div>
            <ul class="thumbnails thumbnails-1 clearfix">
                {% for entity in entities %}
                    <li class="span3">
                        <div class="thumbnail thumbnail-1">
                            <h3>{{ entity.title }}</h3>
                            <div class="">
                                {% media entity.image, 'show' with {'alt': entity.title,'title': entity.title } %}
                            </div>
                            <section>
                                <strong>
                                    {{ entity.date }},  {{ entity.location }}
                                </strong>

                                <p>{{ entity.description }}</p>
                                <a href="{{ path('event_show', {'slug': entity.slug }) }}" class="btn btn-1">
                                    Read More
                                </a>
                            </section>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>