<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12"><i class="icon-camera page-title-icon"></i>

                <h2>Evénements /</h2>

                <p>{{ entity.title }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio -->
<div class="portfolio portfolio-page container events">
    <div class="row">
        <div class="portfolio-navigator span12">
            {% media entity.image, 'wide' with {'alt': entity.title,'title': entity.title } %}
            <h4>{{ entity.title }}</h4>
            <h5>Lieu : <span class="red">{{ entity.location }}</span></h5>
            <h5>Date : <span class="red">{{ entity.date | format_date }}</span></h5>

            <p>&nbsp;</p>
            {{ entity.content|raw }}
        </div>
    </div>
    <div class="galery row">
        <ul class="portfolio-img">
            {% if entity.images %}
                {% for key,galEvent in entity.images.galleryHasMedias %}
                    <li class="span4" data-type="web-design" data-id="p-1">
                        {% if key >= 0 %}
                            <a alt="{{ entity.title }}" title="{{ entity.title }}">
                                {% media galEvent.media, 'show' with {'title' : entity.title , 'alt': entity.title ,'width': '370' } %}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% if entity.speakers %}
        <div class="portfolio-title">
            <h3> Speaker</h3>
        </div>
        <div class="portfolio portfolio-page container">
            <div class="row">
                <ul class="portfolio-img">
                    {% for speaker in entity.speakers %}
                        <div class="work span3 show-event">
                            <a rel="prettyPhoto">
                                {% media speaker.logo, 'show' with {'alt': speaker.firstName,'title': speaker.firstName } %}
                            </a>
                            <h5> {{ entity.lastName }} {{ speaker.firstName }}</h5>
                            <h4>{{ speaker.function }}</h4>
                            <a class="type-7" href="{{ path('speaker_show', {'id': speaker.id }) }}"> <span> </span>
                                <span> Savoir plus </span>
                            </a>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if entity.sponsors %}
        <div class="portfolio-title">
            <h3>Sponsor</h3>
        </div>
        <div class="portfolio portfolio-page container">
            <div class="row">
                <ul class="portfolio-img">
                    {% for sponsor in entity.sponsors %}
                        <div class="work span3 ombrebleue show-event-sponsor">
                            <a href="{{ sponsor.url }}" target="_blank">
                                {% media sponsor.logo, 'show' with {'alt': sponsor.type,'title': sponsor.type } %}
                            </a>
                            <h4>{{ sponsor.name }}</h4>
                            <h5>{{ sponsor.type }}</h5>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>