{% extends sonata_block.templates.block_base %}

{% block block %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="widget span3">
                    <h5><a href="{{ path('whoWeAre') }}">Qui sommes-nous</a></h5>
                    <h5><a href="{{ path('event') }}">Evènements</a></h5>
                    <h5><a href="{{ path('symfony_planning') }}">Symfony TN</a></h5>
                    <h5><a href="{{ path('contact') }}">Contact</a></h5>
                    <h5><a href="{{ path('code_of_conduct') }}">Code de conduite pour la conférence</a></h5>
                </div>
                <div class="widget span3">
                    <h4>Derniers Tweets</h4>

                    <div class="show-tweets">
                        {% include 'STCSiteBundle:Block:tweet.html.twig' %}
                    </div>
                </div>
                <div class="widget span3">
                    <h4>Facebook Photos</h4>

                    <div class="show-facebook">
                        {% include 'STCSiteBundle:Block:facebook.html.twig' %}
                    </div>
                </div>
                <div class="widget span3">
                    <h4>Contactez-nous</h4>

                    <p><i class="icon-phone"></i> Phone: (+216) 20 84 77 20</p>

                    <p><i class="icon-envelope-alt"></i> Email: <a href="">contact@symfony-tunisia.com</a></p>
                </div>
            </div>
            <div class="footer-border"></div>
            <div class="row">
                <div class="copyright span6">
                    <p> Symfony is a trademark of Fabien Potencier. All rights reserved. <a href="http://symfony.com" target="_blank">symfony.com</a>
                    </p>
                </div>
                <div class="social span6">
                    <a target="_blank" class="sensio" href="//connect.sensiolabs.com/club/symfony-tunisia-community"></a>
                    <a target="_blank" class="twitter" href="//twitter.com/SymfonyTunisia"></a>
                    <a target="_blank" class="facebook" href="//www.facebook.com/Symfony.TN?ref=ts&fref=ts"></a>
                    <a target="_blank" class="github" href="//github.com/SymfonyTunisia"></a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}