{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="container">
        <div class="header row">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        <h1>
                            <a class="brand" href="{{ path('home') }}">
                                <img alt="Symfony Tunisia Community"
                                     src="{{ asset('bundles/stcsite/img/logo.png') }}">
                            </a>
                        </h1>

                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <li class="current-page">
                                    <a href="{{ path('home') }}">
                                        <i class="icon-home"></i><br/>
                                        Accueil
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('whoWeAre') }}">
                                        <i class="icon-user"></i><br/>
                                        Qui sommes-nous
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('event') }}">
                                        <i class="icon-calendar"></i><br/>
                                        événements
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('symfonyTn') }}">
                                        <i class="icon-tasks"></i><br/>
                                        Symphony tn</a>
                                </li>
                                <li>
                                    <a href="{{ path('sonata_news_archive') }}">
                                        <i class="icon-file"></i><br/>
                                        Actualité
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('contact') }}">
                                        <i class="icon-envelope-alt">
                                        </i><br/>Contact
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}