<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12"><i class="icon-envelope-alt page-title-icon"></i>

                <h2>Contactez-nous /</h2>

                <p>N'hésitez pas à nous contacter</p>
            </div>
        </div>
    </div>
</div>
<div class="contact-us container">
    <div class="row">
        <div class="contact-form span7">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper <a href="">suscipit lobortis</a>
                nisl ut aliquip ex ea commodo consequat.</p>

            {{ form_start(form, {'attr': {'class': 'contact_form' }}) }}
            {{ form_errors(form) }}

            <div class="form-group {% if form.civility.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.civility) }}
                {{ form_widget(form.civility) }}

            </div>

            <div class="form-group {% if form.lastName.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}

            </div>

            <div class="form-group {% if form.firstName.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}

            </div>

            <div class="form-group {% if form.email.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}

            </div>

            <div class="form-group {% if form.phone.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}

            </div>

            <div class="form-group {% if form.message.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
            </div>

            {{ form_rest(form) }}
            <div class="buttons-wrapper">
                <button class="submit" type="submit">
                    {{ 'contact.submit'|trans({}, 'ContactBundle') }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="contact-address span5">
            <h4>où sommes-nous</h4>

            <div class="map"></div>
            <h4>Adresse</h4>

            <p>Via Principe Amedeo 9 <br>
                10100, Torino, TO, Italy</p>

            <p>Phone: 0039 333 12 68 347</p>
        </div>
    </div>
</div>