<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12"><i class="icon-envelope-alt page-title-icon"></i>

                <h2>Contactez-nous /</h2>

                <p>N'hésitez pas à nous contacter</p>
            </div>
        </div>
    </div>
</div>
<div class="contact-us container">
    <div class="row">
        <div class="contact-form span7">

            <p>Une demande de rejoindre la communauté ? Une demande d'organisation un événement Symfony en Tunisie? Un
                conseil pour vos projets Symfony: pfe, stage, formation… ? Contactez-nous ! La communauté Proche de
                vous, vous répond dans les plus brefs délais.</p>

            {{ form_start(form, {'attr': {'class': 'contact_form' }}) }}
            {{ form_errors(form) }}

            <div class="form-group {% if form.civility.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.civility) }}
                {{ form_widget(form.civility) }}

            </div>

            <div class="form-group {% if form.lastName.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}

            </div>

            <div class="form-group {% if form.firstName.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}

            </div>

            <div class="form-group {% if form.email.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}

            </div>

            <div class="form-group {% if form.phone.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}

            </div>

            <div class="form-group {% if form.message.vars.errors |length > 0 %}has-error{% endif %}">
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
            </div>

            {{ form_rest(form) }}
            <div class="buttons-wrapper">
                <button class="submit" type="submit">
                    {{ 'contact.submit'|trans({}, 'ContactBundle') }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="contact-address span5">
            <h4>où sommes-nous</h4>
            {{ sonata_block_render({ 'type': 'sonata.contact.map'}) }}
            <h4>Adresse</h4>


            <p><i class="icon-phone"></i> Phone: (+216) 20 84 77 20</p>

            <p><i class="icon-envelope-alt"></i> Email: <a href="">contact@symfony-tunisia.com</a></p>
        </div>
        <div class="social span5">
            <a target="_blank" class="sensio" href="//connect.sensiolabs.com/club/symfony-tunisia-community"></a>
            <a target="_blank" class="twitter" href="//twitter.com/SymfonyTunisia"></a>
            <a target="_blank" class="facebook" href="//www.facebook.com/Symfony.TN?ref=ts&fref=ts"></a>
            <a target="_blank" class="github" href="//github.com/SymfonyTunisia"></a>
        </div>
    </div>
</div>